*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    width: 100vw;
    background: rgb(159, 141, 141);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;    
}

section.chat_section{
    width: 800px;
    max-width: 90%;
    background: #ffff;
    box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
}

.code{
    padding: 20px;
    background: #fff;
    display: flex;
    align-items: center;
}
.code img{
    height: 50px;
}

.code h1{
    text-transform: uppercase;
    font-size: 30px;
    color: #444;
    margin-left: 10px;
}

.message_area{
    height: 300px;
    padding: 16px;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    padding-top: 40px;
}




.message{
    padding: 20px;
    border-radius: 4px;
    margin-bottom: 40px;
    max-width: 300px;
    position: relative;
}

.incoming{
    background: #8f8be8;
    color: #fff;
}

.outgoing{
    background: #e9eafd;
    color: #787986;
    margin-left: auto;
}

.message h4{
    position: absolute;
    top: -20px;
    left: 0;
    color: #333;
    font-size: 14px;
}

.text_area{
    width: 100%;
    display: flex;
    align-items: center;
    padding: 5px 40px;
}

.text_area .text-area-box> #textarea{
    width: 665px;
    border: inset;
    padding: 10px;
    font-size: 11px;
    outline: auto;
    background: #fff;
    height: 37px;
    margin: 13px;
    margin-left: 2px;
}
.text_area  
#sendbutton{
    font-size: 11px;
    width: 53px;
    outline: auto;
    background: #fff;
    height: 35px;

}
